<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="dt-page__title"><i class="icon icon-addnew dt-icon-bg bg-orange text-orange"></i> Legalizacion</h1>
            </div>
            <div class="col-md-6">
                <h1 class="dt-page__title">Legalizar</h1>
            </div>
        </div>
        <div class="dt-page-header">
            <br>
            <div class="row">
                 <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion">
                    <div class="col">
                        Graficas
                    </div>
                </a>

                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion/personal">
                    <div class="col">
                        Personal
                    </div>
                </a>

                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion/agregar">
                    <div class="col">
                        Legalizar
                    </div>
                </a>
            </div>
            <br>
            {{#if consignacion}}
                <table class="table-planeacion table table-striped table-bordered table-hover display" style="margin-left: 20px">
                    <thead>
                        <tr>
                            <th class="text-center">Consecutivo</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Observaciones</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Personal</th>
                            <th class="text-center">Planeacion</th>
                            <th class="text-center">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each consulta}}
                            <tr>
                                <td class="text-center">{{id_consignacion}}</td>
                                <td class="text-center">{{fecha}}</td>
                                <td class="text-center">{{descripcion}}</td>
                                <td class="text-center">{{observaciones}}</td>
                                <td class="text-center">{{estado}}</td>
                                <td class="text-center">{{nombre_personal}} {{apellido_personal}}</td>
                                <td class="text-center">{{titulo}}</td>
                                <td class="text-center">
                                    <a href="/legalizacion/agregar_detalle_consignacion?id_consignacion={{id_consignacion}}" class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                        <i class="icon icon-eye icon-1x"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
            {{#if detalleConsignacion}}
                
                <div class="row">
                    <div class="col">
                        <b>Fecha de solicitud: {{consulta1.fecha}}</b>
                    </div>
                    <div class="col">
                        <b>Monto Solicitado: <p style="display: inline;" id="monto"></p> </b>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Nombre del solicitante: {{consulta1.solicitante}}</b>
                    </div>
                    <div class="col">
                        <b>Nombre beneficiario: {{consulta1.nombre_personal}} {{consulta1.apellido_personal}}</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Servicio: {{consulta1.servicio}}</b>
                    </div>
                    <div class="col">
                        <b>Cedula beneficiario: {{consulta1.numero_documento_personal}}</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Dias estimados de operacion: {{consulta1.dias}}</b>
                    </div>
                    <div class="col">
                        <b>Vehiculo/Equipo/Codigo dinamico: {{consulta1.trasporte}}</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Cliente/Acumulador: {{consulta1.cliente}}</b>
                    </div>
                    <div class="col">
                        <b>Pozo/Centro de costos: {{consulta1.pozo}}</b>
                    </div>
                </div>
                
                <br>
                <form action="/legalizacion/legalizar" method="POST">
                    <table class="table table-striped table-bordered table-hover" style="margin-left: 20px">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2"></th>
                                <th class="text-center" colspan="3">Cotizacion</th>
                                <th class="text-center" colspan="3">Legalizacion</th>
                                <th class="text-center" id="consignacion">Consignacion: {{id_consignacion}}</th>
                            </tr>
                            <tr>
                                <th class="text-center">Item</th>
                                <th class="text-center">Concepto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Costo unitario</th>
                                <th class="text-center">Costo total</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Costo unitario</th>
                                <th class="text-center">Costo total</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>    
                            {{#each consulta}}
                                <tr>
                                    <td class="text-center" id="item-{{idItem}}">{{idItem}}</td>
                                    <td class="text-center" id="concepto-{{idItem}}">{{descripcionItem}}</td>
                                    <td class="text-center" id="cCantidas-{{idItem}}">{{cdCantidad}}</td>
                                    <td class="text-center" id="cCostoUnitario-{{idItem}}">{{cdValorUnitario}}</td>
                                    <td class="text-center" id="cCostoTotal-{{idItem}}">{{cdCostoTotal}}</td>
                                    <td class="text-center">
                                        <input type="number" min="0" name="lCantdad-{{idItem}}" onchange="calcular()" id="lCantdad-{{idItem}}" value="{{lCantidad}}">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" min="0" name="lCostoUnitario-{{idItem}}" onchange="calcular()" id="lCostoUnitario-{{idItem}}" value="{{lValorUnitario}}">
                                    </td>
                                    <td class="text-center" id="lCostoTotal-{{idItem}}">{{lCostoTotal}}</td>
                                    <td class="text-center" id="total-{{idItem}}">0</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td class="text-center" colspan="4">Total</td>
                                <td class="text-center" id="cTotal">0</td>
                                <td class="text-center" colspan="2">Total</td>
                                <td class="text-center" id="lTotal">0</td>
                                <td class="text-center" id="tTotal">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm mr-2 mb-2">
                    <input type="hidden" id="id_consignacion" name="id_consignacion" value="0">
                    <input type="hidden" id="tTotalTxt" name="tTotal" value="0">
                    <input type="hidden" id="cTotalTxt" name="cTotal" value="0">
                    <input type="hidden" id="lTotalTxt" name="lTotal" value="0">
                </form>
            {{/if}}
        </div>
    </div>
</div>
{{#if detalleConsignacion}}
    <script>
        let resp = [];
        
        function calcular(){
            let sumaC = 0, sumaL = 0, sumaT = 0;
            let consignacion = $("#consignacion").text();
            let consignacionSplit = consignacion.split(": ");
            let data ={
                url: "http://localhost:4000/legalizacion/tabla",
                method: "POST",
                data: { id_consignacion : parseInt(consignacionSplit[1]) },
                dataType: "json"
            };
            
            $("#id_consignacion").val(parseInt(consignacionSplit[1]));
            if(resp.length <= 0){
                $.ajax(data)
                    .done(function(msg) {
                        resp = msg.resp;
                        total();
                    });
            }else total();

            function total(){
                resp.forEach(element => {
                    $(`#lCostoTotal-${element.idItem}`).text(
                        $(`#lCantdad-${element.idItem}`).val() * $(`#lCostoUnitario-${element.idItem}`).val()
                    );
                    $(`#total-${element.idItem}`).text(
                        $(`#cCostoTotal-${element.idItem}`).text() - $(`#lCostoTotal-${element.idItem}`).text()
                    );
                    sumaT += parseInt($(`#total-${element.idItem}`).text());
                    sumaC += parseInt($(`#cCostoTotal-${element.idItem}`).text());
                    sumaL += parseInt($(`#lCostoTotal-${element.idItem}`).text());
                });
                $("#tTotal").text(sumaT);
                $("#cTotal").text(sumaC);
                $("#lTotal").text(sumaL);


                $("#tTotalTxt").val(sumaT);
                $("#cTotalTxt").val(sumaC);
                $("#lTotalTxt").val(sumaL);

                $("#monto").text(sumaC);
            }
        }
        calcular();
    </script>
{{/if}}