<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="dt-page__title"><i class="icon icon-addnew dt-icon-bg bg-orange text-orange"></i> Legalizacion</h1>
            </div>

            <div class="col-md-6">
                <h1 class="dt-page__title">Graficas</h1>
            </div>
        </div>
        <div class="dt-page-header">
            <br>
            <div class="row">
                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion">
                    <div class="col">
                        Graficas
                    </div>
                </a>

                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion/personal">
                    <div class="col">
                        Personal
                    </div>
                </a>
            </div>
            <br/>
            <form action="http://localhost:4000/legalizacion" method="post">
                <div class="row">
                    <div class="col">
                        <label>Planeacion</label>
                        <div class="form-group col-md-12">
                            <select name="planeacionSelect" id="planeacionSelect" class="form-control">
                                <option value="0">Todas</option>
                                {{#each consulta3}}
                                    <option value="{{id_planeacion}}">{{titulo}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <label>Fecha inicio</label>
                        <div class="form-group col-md-12">
                            <input type="date" name="fInicioTxt" id="fInicioTxt" value="{{_fInicioTxt}}" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <label>Fecha fin</label>
                        <div class="form-group col-md-12">
                            <input type="date" name="fFinTxt" id="fFinTxt" value="{{_fFinTxt}}" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <label>Buscar</label>
                        <div class="form-group col-md-12">
                            <input type="hidden" name="BtnBuscar" id="BtnBuscar" class="form-control btn btn-primary btn-sm mr-2 mb-2" value="Buscar">
                        </div>
                    </div>
                </div>
            </form>
            <br/>
            <p id="data" style="display:none">{{consulta2}}</p>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="dt-page__title">Consignaciones</h1>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6">
                    <h1 class="dt-page__title">Legalizaciones</h1>
                    <canvas id="myChart1"></canvas>
                </div>
                <div class="col-md-12">
                    <h1 class="dt-page__title">Costos deuda</h1>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /***Variables*************************************/
    let BtnBuscar = $("#BtnBuscar");
    let fInicioTxt = $("#fInicioTxt");
    let fFinTxt = $("#fFinTxt");
    let planeacionSelect = $("#planeacionSelect");
    /************************************************/

    /***Inicializadores*****************************/
    planeacionSelect.change(function(){
        let val = planeacionSelect.val();
        if(val > 0){
            fInicioTxt.val("0");
            fInicioTxt.prop('disabled', true);

            fFinTxt.val("0");
            fFinTxt.prop('disabled', true);
            
            BtnBuscar.prop("type", "submit");
        }else{
            fInicioTxt.prop('disabled', false);
            fFinTxt.prop('disabled', false);
            BtnBuscar.prop("type", "hidden");
        }
    });

    fInicioTxt.change(fechaTIeneValores);
    fFinTxt.change(fechaTIeneValores);
    planeacionSelect.val({{_planeacionSelect}});
    /************************************************/

    /***Funciones************************************/
    function fechaTIeneValores(){
        if(fFinTxt.val().length > 0 && fInicioTxt.val().length > 0) BtnBuscar.attr("type", "submit");
        else BtnBuscar.attr("type", "hidden");
    }
    /************************************************/

    /***Grafica1*************************************/
    let cv = document.getElementById('myChart');
    let ctx = cv.getContext('2d');
    let chart = new Chart(ctx, {
        type: 'bar',
        data:{
            datasets: [{
                data: [{{consulta.aprobado}}, {{consulta.no_aprobado}}, {{consulta.rechazado}}],
                backgroundColor: ['blue', 'yellow','red'],
                label: 'Cantidad consignacion por estado'
            }],
            labels: ['aprobadas','no aprobadas','rechazadas']
        },
        options: {responsive: true, 
           tooltips: {
			  callbacks: {
					label: function(tooltipItem, data) {
						var value = data.datasets[0].data[tooltipItem.index];
						value = value.toString();
						value = value.split(/(?=(?:...)*$)/);
						value = value.join(',');
						return value;
					}
			  } // end callbacks:
			},
            scales: {
               yAxes: [{
					ticks: {
						beginAtZero:true,
						userCallback: function(value, index, values) {
							// Convert the number to a string and splite the string every 3 charaters from the end
							value = value.toString();
							value = value.split(/(?=(?:...)*$)/);
							value = value.join(',');
							return value;
						}
					}
				}]
            }
        }
    });

    cv.onclick = function(evt){
        let activePoint = chart.getElementAtEvent(evt);
        let index = activePoint[0]._index;
        let url = "http://localhost:4000/legalizacion/consignacion_grafica_consignacion"
        if(index == 0) window.location = url + '?estado=aprobado';
        else if(index == 1) window.location = url + '?estado=no aprobado';
        else if(index == 2) window.location = url + '?estado=rechazado';
    };
    /************************************************/

    /***Grafica2*************************************/
    let cv1 = document.getElementById('myChart1');
    let ctx1 = cv1.getContext('2d');
    let chart1 = new Chart(ctx1, {
        type: 'horizontalBar',
        data:{
            datasets: [{
                data: [{{consulta1.legalizado}}, {{consulta1.no_legalizado}}],
                backgroundColor: ['blue', 'red'],
                label: 'Legalizadas vs no legalizadas'
            }],
            labels: ['legalizadas','no legalizadas']
        },
        options: {responsive: true, 
           tooltips: {
			  callbacks: {
					label: function(tooltipItem, data) {
						var value = data.datasets[0].data[tooltipItem.index];
						value = value.toString();
						value = value.split(/(?=(?:...)*$)/);
						value = value.join(',');
						return value;
					}
			  } // end callbacks:
			},
            scales: {
               yAxes: [{
					ticks: {
						beginAtZero:true,
						userCallback: function(value, index, values) {
							// Convert the number to a string and splite the string every 3 charaters from the end
							value = value.toString();
							value = value.split(/(?=(?:...)*$)/);
							value = value.join(',');
							return value;
						}
					}
				}]
            }
        }
    });

    cv1.onclick = function(evt){
        let activePoint = chart1.getElementAtEvent(evt);
        let index = activePoint[0]._index;
        let url = "http://localhost:4000/legalizacion/consignacion_grafica_legalizada"
        if(index == 0) window.location = url + '?estado=1';
        else if(index == 1) window.location = url + '?estado=0';
};
    /************************************************/

    /***Grafica3*************************************/
    let cv2 = document.getElementById('myChart2');
    let ctx2 = cv2.getContext('2d');

    let labels= [];
    let dataEmpresa= [];
    let dataPersonal= [];
    let data = JSON.parse($("#data").text());
    
    data.forEach(element => {
        let mes = "";

        if(element.idOrder == 1) mes = "Enero";
        if(element.idOrder == 2) mes = "Febrero";
        if(element.idOrder == 3) mes = "Marzo";
        if(element.idOrder == 4) mes = "Abril";
        if(element.idOrder == 5) mes = "Mayo";
        if(element.idOrder == 6) mes = "Junio";
        if(element.idOrder == 7) mes = "Julio";
        if(element.idOrder == 8) mes = "Agosto";
        if(element.idOrder == 9) mes = "Septiembre";
        if(element.idOrder == 10) mes = "Octubre";
        if(element.idOrder == 11) mes = "Noviembre";
        if(element.idOrder == 12) mes = "Diciembre";

        labels.push(mes);
        dataEmpresa.push(element.empresa);
        dataPersonal.push(element.personal);
    });

    let chart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    borderColor: "blue",
                    label: "Personal",
                    data: dataPersonal
                },
                {
                    borderColor: "yellow",
                    label: "Empresa",
                    data: dataEmpresa
                }
            ]
        },
        options: {responsive: true, 
           tooltips: {
			  callbacks: {
					label: function(tooltipItem, data) {
						var value = data.datasets[0].data[tooltipItem.index];
						value = value.toString();
						value = value.split(/(?=(?:...)*$)/);
						value = value.join(',');
						return value;
					}
			  } // end callbacks:
			},
            scales: {
               yAxes: [{
					ticks: {
						beginAtZero:true,
						userCallback: function(value, index, values) {
							// Convert the number to a string and splite the string every 3 charaters from the end
							value = value.toString();
							value = value.split(/(?=(?:...)*$)/);
							value = value.join(',');
							return value;
						}
					}
				}]
            }
        }
    });

    cv2.onclick = function(evt){
        let activePoint = chart2.getElementAtEvent(evt);
        let index = activePoint[0]._index;
        let url = "http://localhost:4000/legalizacion/consignacion_grafica_deuda"
        if(index == 0) window.location = url + '?estado=persona';
        else if(index == 1) window.location = url + '?estado=empresa';
    };
    /************************************************/
</script>