<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="dt-page__title"><i class="icon icon-addnew dt-icon-bg bg-orange text-orange"></i> Legalizacion</h1>
            </div>

            <div class="col-md-6">
                <h1 class="dt-page__title">Consignaciones</h1>
            </div>
        </div>
        <div class="dt-page-header">
            <br>
            <div class="row">
                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion">
                    <div class="col">
                        Graficas
                    </div>
                </a>

                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion/personal">
                    <div class="col">
                        Personal
                    </div>
                </a>

                <a class="btn btn-primary btn-sm mr-2 mb-2" href="/legalizacion/agregar">
                    <div class="col">
                        Legalizar
                    </div>
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'doughnut',
        data:{
            datasets: [{
                data: [{{consulta.aprobado}}, {{consulta.no_aprobado}}, {{consulta.rechazado}}],
                backgroundColor: ['green', 'orange','red'],
                label: 'Comparacion de navegadores'
            }],
            labels: ['aprobadas','no aprobadas','rechazadas']
        },
        options: {responsive: true}
    });
    
    let ctx1 = document.getElementById('myChart1').getContext('2d');
    let chart1 = new Chart(ctx1, {
        type: 'horizontalBar',
        data:{
            datasets: [{
                data: [{{consulta.aprobado}}, {{consulta.no_aprobado}}, {{consulta.rechazado}}],
                backgroundColor: ['green', 'orange','red'],
                label: 'Cantidad'
            }],
            labels: ['aprobadas','no aprobadas','rechazadas']
        },
        options: {responsive: true}
    });
</script>