            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-forms-basic dt-icon-bg bg-orange text-orange"></i> Crear Contrato</h1></div>
                    </div>
                   </div>
                   
                    <!-- /page header -->

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/contratos" method="POST">
                                      <input type="hidden" name="id_personal" value="{{ user.id }}">
                                        <div class="form-row">
                                           
                                            <div class="col-sm-3 mb-3">
                                              <label>ID</label>
                                              <input type="text" class="form-control" placeholder="ID" name="numero_contrato" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            
                                            <div class="col-sm-3 mb-3">
                                            <label>Descripción</label>
                                              <input type="text" class="form-control" placeholder="Descripción" name="descripcion_contrato" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha inicio</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-1" data-target-input="nearest" placeholder="Fecha inicio" name="fecha_inicio_contrato" data-target="#date-time-picker-1" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de fin</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-2" data-target-input="nearest" placeholder="Fecha fin" name="fecha_fin_contrato" data-target="#date-time-picker-2" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Bolsa</label>
                                              <input type="text" class="form-control" placeholder="Bolsa" name="bolsa_contrato" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Tipo de moneda</label>
                                              <select class="form-control" name="id_moneda" required>
                                                  <option>Seleccione un tipo de moneda...</option>
                                                  {{#each monedas}}
                                                  <option value="{{ id_moneda }}">{{ nombre_moneda }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Tipo de contrato</label>
                                              <select class="form-control" name="id_tipo_contrato" required>
                                                  <option>Seleccione un tipo de contrato...</option>
                                                  {{#each tipo_contratos}}
                                                  <option value="{{ id_tipo_contrato }}">{{ nombre_tipo_contrato }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                           <div class="col-sm-3 mb-3">
                                            <label>Cliente</label>
                                              <select class="form-control" name="id_cliente" required>
                                                  <option>Seleccione un cliente...</option>
                                                  {{#each clientes}}
                                                  <option value="{{ id_cliente }}">{{ razon_social_cliente }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Estado</label>
                                              <select class="form-control" required="" name="estado_contrato">
                                                  <option value="1">ACTIVO</option>
                                                  <option value="2">INACTIVO</option>
                                                </select>
                                            </div>

                                         
                                            <div class="col-sm-12 mb-3">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right">
                                                    Añadir contrato
                                                </button>
                                                <a href="/contratos"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>

                                        </div>
                                       
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
             
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

