<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
            <div class="row">
                <div class="col-md-4 col-xs-4">                   
                    <a href="/planeacion/graficas/{{ id_planeacion }}/{{position}}" class="btn btn-primary">Volver</a>
                </div>
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4"></div>
            </div>
            <br>
            <form action="/equipo/personal/agregar/{{ id_planeacion }}" method="POST">

                <input type="hidden" name="position" value="{{position}}">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="">el cargo:</label>
                        <select name="id_cargo" id="cargos" class="form-control">
                            <option value="">Selecione cargo</option>
                            {{#each cargos}}
                                <option value="{{ id_cargo }}">{{ nombre_cargo }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Personal: </label>
                        <select name="id_personal" id="cualseraelcargos" class="form-control">
                            <option value="">Primero Selecciona el cargo</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unidad de medida: </label>
                        <select name="id_unidad_medida"  class="form-control">
                            {{#each unidad_medida}}
                                <option value="{{ id_unidad_medida }}">{{ nombre_unidad_medida }} - {{ abreviatura_unidad_medida }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha inicio trabajo en campo: </label>
                        <input type="date" name="fecha_final_mov" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha final movilizacion: </label>
                        <input type="date" name="fecha_inicio_demov" class="form-control">
                        <input type="hidden" name="id_planeacion" value="{{id_planeacion}}" class="form-control">
                    </div>
                </div>
                <div class="form-row"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Asignacion: </label>
                        <select name="id_tipo_asignacion" class="form-control">
                            {{#each tipo_asignacion}}
                            <option value="{{ id_tipo_asignacion }}">{{ descripcion }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rubro: </label>
                        <select name="id_rubro" class="form-control">
                            {{#each rubros}}
                            <option value="{{ id_rubro }}">{{ sigla_rubro }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" style="display: none;">
                        <label>Costo unitario rubro: </label>
                        <input type="number" name="costo_unitario_rubro" class="form-control" value="0">
                        <input type="hidden" name="cantidad" value="0" >
                        <input type="hidden" name="costo" value="0" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Moneda: </label>
                        <select name="id_moneda" class="form-control">
                            {{#each monedas}}
                            <option value="{{ id_moneda }}">{{ abreviatura_moneda }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Medio de pago: </label>
                        <select name="medio_pago" class="form-control">
                            <option value="">Seleccione...</option>
                            <option value="1">Credito</option>
                            <option value="2">Contado</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="submit" style="width: 100%" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $("#cargos").change(function(){
        $.ajax({
            url: "http://localhost:4000/personal/cargos",
            method: "POST",
            data: { id_cargo: $("#cargos").val() },
            dataType: "json"
        })
            .done(function(msg){
                let resp = "";  
                msg.resp.forEach(element =>  resp += `<option value="${element.id}"> ${element.nombre_cargo}--${element.nombre_personal }${element.apellido_personal }</option>`);
                $("#cualseraelcargos").html(resp);
            });
    });
</script>