<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>
{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
        </div>
        <form action="/AgregarDetallesConsignacion" method="POST">
            <div class=" row">
                <div class="col">
                    <div class="form-group col-md-12">
                        <label>Fecha de solicitud </label>
                        <input type="date" name="fecha" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>Monto solicitado</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="" id="montoSolicitado" class="form-control" disabled>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group col-md-12">
                        <label>Nombre del solicitante</label>
                        <input type="text" name="solicitante" class="form-control">
                    </div>
                </div>
          
            <div class="col"> 
                   <div class="form-group col-md-12">
                    <label>Nombre del  benefisario </label>
                    <input  list="personaSelect" name="id_personal" class="form-control" >
                    <datalist id="personaSelect">
                        {{#each consulta}}
                            <option value="{{id}}">{{nombre_personal}} {{nombre_personal}}</option>   
                        {{/each}}  
                    </datalist>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <label>Servicio</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="servicio" id="" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label> C.C</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="" id="documentoTxt" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col">                 
                    <label>Dias estimados </label>
                    <div class="form-group col-md-12">
                        <input type="text" name="dias" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>Vehiculo/equipo/codigo dinamico</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="trasporte" class="form-control">
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col">
                    <label>Cliente/acumulador</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="cliente" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>Pozo y centro de costos</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="pozo" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <table class="table-planeacion table table-striped table-bordered table-hover display" >
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ITEM</th>
                        <th scope="col" class="text-center">NOMBRE</th>
                        <th scope="col" class="text-center">BODEGA</th>
                        <th scope="col" class="text-center">CANTIDAD</th>
                        <th scope="col" class="text-center">MARCA</th>
                        <th scope="col" class="text-center">COSTO UNITARIO</th>
                        <th scope="col" class="text-center">TOTAL</th>
                    </tr>
                </thead>
                {{#each consulta1}}
                <tr>
                    <td class="text-center">{{id_item}}</td>
                    <td class="text-center">{{descripcion_item}}</td>
                    <td class="text-center">{{bodega_item}}</td>
                    <td class="text-center"><input type="text" onchange="total()" id="cantidad-{{id_item}}" name="cantidad-{{id_item}}" value="{{cantidad_item}}"></td>
                    <td class="text-center">{{marca_item}}</td>
                    <td class="text-center"><input type="text" onchange="total()" id="costoU-{{id_item}}" name="costoU-{{id_item}}" value="{{valor_item}}"></td>
                    <td class="text-center" id="total-{{id_item}}">0</td>
                </tr>
                {{/each}}
                <tr>
                    <td>
                       
                    </td>
                </tr>
            
            </table>
            <label>observaciones </label>
            <div class="form-group col-md-12">
                <input type="text" name="observaciones" class="form-control">
                <input type="hidden" name="estado" class="form-control" value="no aprobado">
                <input type="hidden" name="id_planeacion" class="form-control" value="0">
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary"> enviar </button>
        </form>
        <br>
        <a href="/consignaciones" class="btn btn-primary">atras</a>    
    </div>
</div>
</div>
<script>
    let resp = [];
    $(document).ready(function(){
        let personaSelect = $("#personaSelect");
        personaSelect.change(function () {
            $.ajax({
                url: "http://localhost:4000/consignacion/persona",
                method: "POST",
                data: { id_persona: personaSelect.val() },
                dataType: "html"
            })
                .done(function (msg) { $("#documentoTxt").val(msg); });
        });
    });

    function total(){
        if(resp.length <= 0){
            $.ajax({
                url: "http://localhost:4000/consignacion/item",
                method: "POST",
                dataType: "json"
            })
                .done(function (msg) {
                    resp = msg.resp;
                    calcular(msg.resp);
                });
        }else calcular(resp);
        
        function calcular(data){
            let suma = 0;
            data.forEach(element => {
                let sumaTotal = ($("#cantidad-"+element.idItem).val() * $("#costoU-"+element.idItem).val())
                $("#total-"+element.idItem).text(sumaTotal);
                suma += parseInt(sumaTotal);
            });
            $("#montoSolicitado").val(suma);
        }
    }
    total();
</script>