<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <a href="/consignaciones/agregarsinoperacion" style="margin-top: 5px;"
                class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                <img src="/icons-planeacion/add.svg" alt="">
            </a>
           

            <br>
            
         <table class="table-planeacion table table-striped table-bordered table-hover display">
            
                <thead>
                    <h1>consignaciones sin operaci贸n</h1>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">apellido </th>
                        <th class="text-center">costo total de item</th>
                        <th class="text-center">C.C</th>
                        <th class="text-center">fecha de solicitud</th>
                         <th class="text-center">consecutivo</th>
                         <th class="text-center">estado</th>
                         <th class="text-center">descripci贸n</th>
                        <th class="text-center">eliminar/asiganar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta1}}
                    <tr>
                        <td class="text-center">{{nombre_personal}}</td>
                        <td class="text-center">{{apellido_personal}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/DetallesDeCostoToltal/{{id_consignacion}}/{{id}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                        <td class="text-center">{{numero_documento_personal}}</td>
                        <td class="text-center">{{fecha}}</td>
                        <td class="text-center">{{id_consignacion}}</td>
                         <td class="text-center">{{estado}}</td>
                         <td class="text-center">{{descripcion}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/EliminarConsignacionSola/{{id_consignacion}}"
                            class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                            <a href="/consignaciones/AsignarConsignacion/{{id_consignacion}}/{{id}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>
    
            <table class="table-planeacion table table-striped table-bordered table-hover display">
                <thead>
                    <h1>operaciones</h1>
                    <tr>
                         <th class="text-center">operaci贸n</th>
                   
                            <th class="text-center">Acci贸n</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta }}
                    <tr>
                        <td class="text-center">{{titulo}}</td>
                        
                        <td class="text-center">
                            <a href="/consignaciones/DetallesPlaneacion/{{id_planeacion}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>
            <br>

                <p id="datames" style="display:none" >{{consulta5}}  </p>
            <div class="col-md-12">
                    <h1 class="dt-page__title">por mes </h1>
                    <canvas id="myChart3"></canvas>
                </div>

        </div>
  </div>
</div>
<script>


    let cv22 = document.getElementById('myChart3');
    let ctx22 = cv22.getContext('2d');

    let labels= [];
    let dataEmpresa= [];
    let data1 = JSON.parse($("#datames").text());
    console.log(data1)
    
    data1.forEach(element => {
        let mes = "";
        
        if(element.idOrder == 1) mes = element.idOrdera+" Enero";
        if(element.idOrder == 2) mes = element.idOrdera+" Febrero";
        if(element.idOrder == 3) mes = element.idOrdera+" Marzo";
        if(element.idOrder == 4) mes = element.idOrdera+" Abril";
        if(element.idOrder == 5) mes = element.idOrdera+" Mayo";
        if(element.idOrder == 6) mes = element.idOrdera+" Junio";
        if(element.idOrder == 7) mes = element.idOrdera+" Julio";
        if(element.idOrder == 8) mes = element.idOrdera+" Agosto";
        if(element.idOrder == 9) mes = element.idOrdera+" Septiembre";
        if(element.idOrder == 10) mes = element.idOrdera+" Octubre";
        if(element.idOrder == 11) mes = element.idOrdera+" Noviembre";
        if(element.idOrder == 12) mes = element.idOrdera+" Diciembre";
        
        labels.push(mes);
        dataEmpresa.push(element.empresa);
    });

    let chart3 = new Chart(ctx22, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    borderColor: "yellow",
                    label: "POR MESES",
                    data: dataEmpresa
                }
            ]
        },
        options: {
            responsive: true, 
           tooltips: {
			  callbacks: {
					label: function(tooltipItem, data) {
						var value = data.datasets[0].data[tooltipItem.index];
						value = value.toString();
						value = value.split(/(?=(?:...)*$)/);
						value = value.join(',');
						return value;
					}
			  } // end callbacks:
			},
            scales: {
               yAxes: [{
					ticks: {
						beginAtZero:true,
						userCallback: function(value, index, values) {
							// Convert the number to a string and splite the string every 3 charaters from the end
							value = value.toString();
							value = value.split(/(?=(?:...)*$)/);
							value = value.join(',');
							return value;
						}
					}
				}]
            }
        }
    });
</script>


