<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <a href="/consignaciones/agregar" style="margin-top: 5px;"
                class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                <img src="/icons-planeacion/add.svg" alt="">
            </a>

            <br>

         <table class="table-planeacion table table-striped table-bordered table-hover display">
            
                <thead>
                    <h1>consignaciones sin operacion</h1>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">apellido </th>
                        <th class="text-center">costo total de item</th>
                        <th class="text-center">C.C</th>
                        <th class="text-center">fecha de solicitud</th>
                         <th class="text-center">codigo</th>
                         <th class="text-center">estado</th>
                        <th class="text-center">eliminar/asiganar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta1}}
                    <tr>
                        <td class="text-center">{{nombre_personal}}</td>
                        <td class="text-center">{{apellido_personal}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/DetallesDeCostoToltal/{{id_consignacion}}/{{id}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                        <td class="text-center">{{numero_documento_personal}}</td>
                        <td class="text-center">{{fecha}}</td>
                        <td class="text-center">{{codigo}}</td>
                         <td class="text-center">{{estado}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/EliminarConsignacionSola/{{id_consignacion}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            <a href="/consignaciones/AsignarConsignacion/{{id_consignacion}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>
    
            <table class="table-planeacion table table-striped table-bordered table-hover display">
                <thead>
                    <h1>operacines</h1>
                    <tr>
                         <th class="text-center">operacion</th>
                         <th class="text-center">codigo de operacion</th>
                         <th class="text-center">costo total</th>
                            <th class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta }}
                    <tr>
                        <td class="text-center">{{titulo}}</td>
                        <td class="text-center">{{titulo}}</td>
                        <td class="text-center">{{titulo}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/DetallesPlaneacion/{{id_planeacion}}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>

        </div>
  </div>
</div>



