<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <form action="/consultarConsignacion1" method="post">
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" name="titulo3" class="form-control" placeholder="Buscar consignacion">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Buscar" class="btn btn-primary">
                    </div>
                </div>
            </form>


             <table class="table-planeacion table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">monto</th>
                        <th class="text-center">id_personal</th>
                        <th class="text-center">numero_documento_personal</th>
                        <th class="text-center">id_planeacion</th>
                        <th class="text-center">placa_vehiculo</th>
                        <th class="text-center">descripcion</th>
                        <th class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta}}
                    <tr>
                        <td class="text-center">{{titulo}}</td>
                        <td class="text-center">{{monto}}</td>
                        <td class="text-center">{{id_personal}}</td>
                        <td class="text-center">{{numero_documento_personal}}</td>
                        <td class="text-center">{{id_planeacion}}</td>
                        <td class="text-center">{{placa_vehiculo}}</td>
                        <td class="text-center">{{descripcion}}</td>
                        <td class="text-center">
                            <a href="/consignaciones/agregar" class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/add.svg" alt="">
                            </a>
                            <a href="/consignaciones/mirar/{{ id_consignacion }}" class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/consignaciones/modificar/{{ id_consignacion }}" class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/pencil-edit-button.svg" alt="">
                                </a>
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>