
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Legalización Avance de Gastos</title>
	<meta name="generator" content="LibreOffice 6.0.7.3 (Linux)"/>
	<meta name="author" content="Mariela González Castaño"/>
	<meta name="created" content="2000-08-16T21:37:56"/>
	<meta name="changedby" content="CLAUDIA"/>
	<meta name="changed" content="2019-05-20T17:48:52"/>
	<meta name="AppVersion" content="16.0300"/>
	<meta name="Company" content="WINDOWS"/>
	<meta name="DocSecurity" content="0"/>
	<meta name="HyperlinksChanged" content="false"/>
	<meta name="LinksUpToDate" content="false"/>
	<meta name="ScaleCrop" content="false"/>
	<meta name="ShareDoc" content="false"/>
	
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Arial"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } 
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
		comment { display:none;  } 
	</style>
	
</head>

<body>
    

    <div class="ui active dimmer" id="loader" style="display: none">
    <div class="ui large text loader">Generando su reporte, por favor espere.</div>
  </div>

<div id="container_main" >

  
    <table cellspacing="0" border="0">
        <colgroup width="72"></colgroup>
        <colgroup width="71"></colgroup>
        <colgroup span="3" width="68"></colgroup>
        <colgroup width="98"></colgroup>
        <colgroup width="70"></colgroup>
        <colgroup width="78"></colgroup>
        <colgroup width="68"></colgroup>
        <colgroup width="136"></colgroup>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 rowspan=3 height="51" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br> 
            </font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 rowspan=3 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=3>SOLICITUD DE ANTICIPO PARA GASTOS DE OPERACIÓN O VIAJE</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri">Vigencia: 2019-11-28</font></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri">Versión:3</font></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri">Página 1 / 1</font></td>
        </tr>
        <tr>
            <td colspan=10 height="12" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            </tr>
           
        <tr>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 height="46" align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Fecha de Solicitud: </font></b></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri">DIA </font></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri">MES </font></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri">AÑO</font></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=3>Monto Solicitado </font></b></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=4 rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;_(&quot;$&quot; * #,##0.00_);_(&quot;$&quot; * \(#,##0.00\);_(&quot;$&quot; * &quot;-&quot;??_);_(@_)">$ {{#each total1}}{{total}}{{/each}}<b><font face="Calibri" size=4><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF">{{dia}}<b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF">{{mes}}<b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF">{{anos}}<b><font face="Calibri"><br></font></b></td>
            </tr>
             {{#each informacion}}
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=3 height="24" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Nombre del Solicitante: </font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF">{{solicitante}} <b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Nombre Beneficiario:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF">{{nombre_personal}}  {{apellido_personal}}<b><font face="Calibri"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=3 height="24" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Servicio:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF">{{servicio}}<b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Cédula Beneficiario:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;#,##0">{{numero_documento_personal}}<b><font face="Calibri"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=3 height="24" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Días estimados  de operación:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF">{{dias}}<b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Vehiculo/equipo/codigo dinamico:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF">{{trasporte}}<b><font face="Calibri"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=3 height="24" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">cliente/acumulador:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF">{{cliente}}<b><font face="Calibri"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Pozo/Centro de Costo:</font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF">{{pozo}}<b><font face="Calibri"><br></font></b></td>
            </tr>
            {{/each}}
        <tr>
            <td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 height="12" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Ítem</font></b></td>
            <td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Concepto</font></b></td>
            <td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Cantidad</font></b></td>
            <td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Costo unitario</font></b></td>
            <td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri">Costo total</font></b></td>
        </tr>
        {{#each item}}
                <tr>
                    <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" height="18" align="center" valign=middle bgcolor="#FFFFFF" sdval="1" sdnum="1033;"><font face="Calibri">{{id_item}}</font></td>
                    <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="left" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000">{{descripcion_item}}</font></td>
                    <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000">{{cantidad}}<br></font></td>
                    <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;_(&quot;$&quot; * #,##0.00_);_(&quot;$&quot; * \(#,##0.00\);_(&quot;$&quot; * &quot;-&quot;??_);_(@_)"><font face="Calibri" color="#000000">{{valor_unitario}}<br></font></td>
                    <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;0;_(&quot;$&quot; * #,##0.00_);_(&quot;$&quot; * \(#,##0.00\);_(&quot;$&quot; * &quot;-&quot;??_);_(@_)"><font face="Calibri" color="#000000">{{costo_total_item}}<br></font></td>
                </tr>
        {{/each}}
        <tr>
            <td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000" colspan=9 height="19" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000">Total Gastos </font></b></td>
            <td style="border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" align="right" valign=middle bgcolor="#FFFFFF" sdval="0" sdnum="1033;0;[$$-240A] #,##0_ ;-[$$-240A] #,##0 "><b><font face="Calibri" color="#000000">${{#each total}}{{total}} {{/each}}</font></b></td>
        </tr>
        <tr>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000" colspan=2 height="19" align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=3 color="#000000">Observaciones:</font></b></td>
            <td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000" colspan=8 align="left" valign=middle bgcolor="#FFFFFF">{{observaciones}}<b><font face="Calibri" color="#000000"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=10 height="19" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
            </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" height="21" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" color="#000000"><br></font></b></td>
        </tr>
        <tr>
            <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 height="51" align="justify" valign=middle bgcolor="#FFFFFF"><font face="Calibri">Nota: Autorizo a GUACAMAYA OIL SERVICES S.A.S., a efectuar el descuento por nómina o liquidación del total del valor recibido en calidad de Anticipo estipulado en este formato, en caso de no efectuar la legalización pertinente a dichos dineros en los términos establecidos por la compañía.</font></td>
            </tr>
        <tr>
            <td style="border-top: 2px solid #000000" height="17" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 2px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #000000" colspan=4 height="17" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000" colspan=4 height="25" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1>Firma del Solicitante</font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td style="border-top: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1>Vo.Bo. Operaciones</font></b></td>
            <td align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
        </tr>
        <tr>
            <td height="18" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
        </tr>
        <tr>
            <td height="18" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td style="border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
        </tr>
        <tr>
            <td height="17" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-top: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1>Vo.Bo. Administración o Contabilidad</font></b></td>
            <td align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
            <td align="left" valign=middle bgcolor="#FFFFFF"><b><font face="Calibri" size=1><br></font></b></td>
        </tr>
        <tr>
            <td style="border-bottom: 1px dotted #000000" height="17" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
            <td style="border-bottom: 1px dotted #000000" align="center" valign=bottom bgcolor="#FFFFFF"><font face="Calibri"><br></font></td>
        </tr>
    </table>
</div>
<!-- ************************************************************************** -->
<a href="/consignaciones/pdfgenerar" style="margin-top: 5px;"
                class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                excel
            </button>
    <div class="ui center aligned header" id="div_pdf">
  </div>

  </form>
</body>
<script src="/src/views/js/main.js" type="text/javascript"></script>

</html>