            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-users dt-icon-bg bg-orange text-orange"></i> Crear Personal</h1></div>
                    </div>
                   </div>
                   
                    <!-- /page header -->

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/personal" method="POST">
                                     <input type="hidden" name="id_personal" value="{{ user.id }}">
                                        <div class="form-row">
                    
                                            <div class="col-sm-3 mb-3">
                                            <label>Nombre</label>
                                              <input type="text" class="form-control" placeholder="Nombre" name="nombre_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            
                                            <div class="col-sm-3 mb-3">
                                            <label>Apellido</label>
                                              <input type="text" class="form-control" placeholder="Apellido" name="apellido_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                              <label>No. documento</label>
                                              <input type="number" class="form-control" placeholder="No. documento" name="numero_documento_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                               
                                              <div class="col-sm-3 mb-3">
                                              <label>Fecha de expedición</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-1" data-target-input="nearest" placeholder="Fecha de expedición" name="fecha_expedicion_personal" data-target="#date-time-picker-1" data-toggle="datetimepicker" required>
                                              </div>
                                           

                                            <div class="col-sm-3 mb-3">
                                            <label>Lugar de expedición</label>
                                              <input type="text" class="form-control" placeholder="Lugar de expedición" name="lugar_expedicion_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de nacimiento</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-2" data-target-input="nearest" placeholder="Fecha de nacimiento" name="fecha_nacimiento_personal" data-target="#date-time-picker-2" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Lugar de nacimiento</label>
                                              <input type="text" class="form-control" placeholder="Lugar de nacimiento" name="lugar_nacimiento_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Edad</label>
                                              <input type="text" class="form-control" placeholder="Edad" name="edad_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>RH</label>
                                              <input type="text" class="form-control" placeholder="RH" name="rh_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Genero</label>
                                              <input type="text" class="form-control" placeholder="Genero" name="genero_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Teléfono / celular</label>
                                              <input type="text" class="form-control" placeholder="Teléfono / celular" name="telefono_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Teléfono de residencia</label>
                                              <input type="text" class="form-control" placeholder="Teléfono de residencia" name="telefono_residencia_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Dirección de residencia</label>
                                              <input type="text" class="form-control" placeholder="Dirección de residencia" name="direccion_residencia_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Ciudad / barrio</label>
                                              <input type="text" class="form-control" placeholder="Ciudad / barrio" name="ciudad_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Correo electrónico corporativo</label>
                                              <input type="text" class="form-control" placeholder="Correo electrónico corporativo" name="correo_corporativo_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Correo electrónico personal</label>
                                              <input type="text" class="form-control" placeholder="Correo electrónico personal" name="correo_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Profesión</label>
                                              <input type="text" class="form-control" placeholder="Profesión" name="profesion_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Experiencia laboral</label>
                                              <input type="text" class="form-control" placeholder="Experiencia laboral" name="experiencia_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Contrato</label>
                                              <input type="text" class="form-control" placeholder="Contrato" name="contrato_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Cargo</label>
                                              <select class="form-control" name="id_cargo" required>
                                                  <option>Seleccione un cargo...</option>
                                                  {{#each cargos}}
                                                  <option value="{{ id_cargo }}">{{ nombre_cargo }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Base o contrato</label>
                                             <select class="form-control" name="id_base" required>
                                                  <option>Seleccione un base...</option>
                                                  {{#each bases}}
                                                  <option value="{{ id_base }}">{{ nombre_base }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de ingreso</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-3" data-target-input="nearest" placeholder="Fecha de ingreso" name="fecha_ingreso_personal" data-target="#date-time-picker-3" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de retiro</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-4" data-target-input="nearest" placeholder="Fecha de retiro" name="fecha_retiro_personal" data-target="#date-time-picker-4" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Salario</label>
                                              <input type="text" class="form-control" placeholder="Salario" name="salario_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Bono de campo</label>
                                              <input type="text" class="form-control" placeholder="Bono salarial" name="bono_salarial_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Bono de Trasporte </label>
                                              <input type="text" class="form-control" placeholder="Bono no salarial" name="bono_no_salarial_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                              <input type="hidden" class="form-control" name="bono_otros" value="0">

                                            <div class="col-sm-3 mb-3">
                                            <label>EPS</label>
                                              <input type="text" class="form-control" placeholder="EPS" name="eps_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de afiliación EPS</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-5" data-target-input="nearest" placeholder="Fecha de afiliación EPS" name="fecha_eps_personal" data-target="#date-time-picker-5" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Pensión</label>
                                              <input type="text" class="form-control" placeholder="Pensión" name="pension_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de afiliación pensión</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-6" data-target-input="nearest" placeholder="Fecha de afiliación pensión" name="fecha_pension_personal" data-target="#date-time-picker-6" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fondo de cesantías</label>
                                              <input type="text" class="form-control" placeholder="Fondo de cesantías" name="cesantias_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>ARL</label>
                                              <input type="text" class="form-control" placeholder="ARL" name="arl_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de afiliación ARL</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-7" data-target-input="nearest" placeholder="Fecha de afiliación ARL" name="fecha_arl_personal" data-target="#date-time-picker-7" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Fecha de afiliación parafiscales</label>
                                              <input type="text" class="form-control input-group date" id="date-time-picker-8" data-target-input="nearest" placeholder="Fecha de afiliación parafiscales" name="fecha_parafiscales_personal" data-target="#date-time-picker-8" data-toggle="datetimepicker" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>SENA</label>
                                              <input type="text" class="form-control" placeholder="SENA" name="sena_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>ICBF</label>
                                              <input type="text" class="form-control" placeholder="ICBF" name="icbf_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Caja de compesación</label>
                                              <input type="text" class="form-control" placeholder="Caja de compesación" name="caja_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-6 mb-3">
                                            <label>En caso de accidente avisar a:</label>
                                              <input type="text" class="form-control" placeholder="En caso de accidente avisar a" name="accidente_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Teléfono emergencia:</label>
                                              <input type="text" class="form-control" placeholder="Teléfono emergencia" name="accidente_telefono_personal" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Estado</label>
                                              <select class="form-control" required="" name="estado_personal" required>
                                                  <option value="1">ACTIVO</option>
                                                  <option value="2">INACTIVO</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-12 mb-3">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right">
                                                    Añadir personal
                                                </button>
                                                 <a href="/personal"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>

                                        </div>
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
             
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

