            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-users dt-icon-bg bg-orange text-orange"></i> Personal</h1></div>
                        <div class="col-md-6"><a href="/personal/crear" class="btn btn-primary btn-sm mr-2 mb-2" style="float: right;">Añadir Personal</a></div>
                    </div>
                   </div>
                   <br>
                    <!-- /page header -->
                  <table id="data-table" class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Documento</th>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Apellido</th>
                                                <th class="text-center">Teléfono</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Cargo</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Registro completo</th>
                                                <th class="text-center">Editar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             
                                              {{#each personal}}
                                              <tr class="gradeX" {{#Guacamaya estado_personal '==' 2}} style="color: #82490b;background-color: #fee8d0;border-color: #fedfbe;" {{/Guacamaya}}>
                                              <td class="text-center">{{numero_documento_personal}}</td>
                                              <td class="text-center">{{nombre_personal}}</td>
                                              <td class="text-center">{{apellido_personal}}</td>
                                              <td class="text-center">{{telefono_personal}}</td>
                                              <td class="text-center">{{correo_personal}}</td>
                                              <td class="text-center">{{nombre_cargo}}</td>
                                              <td class="text-center">
                                                  {{#Guacamaya estado_personal '==' 1}} ACTIVO {{/Guacamaya}}
                                                  {{#Guacamaya estado_personal '==' 2}} INACTIVO {{/Guacamaya}}
                                              </td>
                                               <td class="text-center">
                                                   <a href="/ver-personal/{{id}}" class="btn btn-info text-white dt-fab-btn">
                                                   <i class="icon icon-eye icon-1x"></i>
                                                </a></td>
                                               <td class="text-center">
                                                   <a href="/editar-personal/{{id}}" class="btn btn-success text-white dt-fab-btn">
                                                   <i class="icon icon-editors icon-1x"></i>
                                                </a></td>
                                               </tr>
                                              {{/each}}
                                           
                                            </tbody>
                                          
                                        </table>
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

