<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <form action="/actualizarPersonal_mov" method="POST">
                <div class="form-row" style="display: none;">
                    <div class="form-group col-md-6">
                        {{#each consulta}}
                        <input type="text" name="id_mov_item_personal" value="{{ id_mov_item_personal }}"
                            class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        {{#each consulta}}
                        <input type="text" name="id_planeacion" value="{{ id_planeacion }}" class="form-control"
                            readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha inicio movilizacion: </label>
                        {{#each f_mov}}
                        <input type="text" value="{{ fecha_inicio_mov }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha final movilizacion: </label>
                        {{#each f_mov}}
                        <input type="text" value="{{ fecha_final_mov }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-4" style="display: none;">
                        <label>Costo unitario rubro: </label>
                        {{#each c_u_rubro}}
                        <input type="text" value="{{ costo_unitario_rubro }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha inicio desmovilizacion: </label>
                        <input type="date" name="f_i_dm" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha final desmovilizacion: </label>
                        <input type="date" name="f_f_dm" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cargo: </label>
                        {{#each cargo}}
                        <input type="text" value="{{ nombre_cargo }} " class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Personal: </label>
                        {{#each personal}}
                        <input type="text" value="{{ nombre_personal }} {{ apellido_personal }}" class="form-control"
                            readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Unidad de medida: </label>
                        {{#each unidad_medida}}
                        <input type="text" value="{{ nombre_unidad_medida }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Moneda: </label>
                        {{#each moneda}}
                        <input type="text" value="{{ abreviatura_moneda }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Medio de pago: </label>
                        {{#each medio_pago}}
                        {{#Guacamaya medio_pago '==' 1}}
                        <input type="text" value="Credito" class="form-control" readonly>
                        {{/Guacamaya}}
                        {{#Guacamaya medio_pago '==' 2}}
                        <input type="text" value="Contado" class="form-control" readonly>
                        {{/Guacamaya}}
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rubro: </label>
                        {{#each rubro}}
                        <input type="text" value="{{ sigla_rubro }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Vehiculo: </label>
                        {{#each vehiculo}}
                        <input type="text" value="{{ placa_equipo }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo de asignacion: </label>
                        {{#each tipo_asignacion}}
                        <input type="text" value="{{ descripcion }}" class="form-control" readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Guardar" class="btn btn-primary" style="width: 100%;">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>