<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

           <div class="row">
                <div class="col-md-4 col-xs-4">
                    {{#each consulta}}
                        <a href="/planeacion/graficas/{{ id_planeacion }}" class="btn btn-primary">Volver a graficas</a>
                    {{/each}}
                </div>
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4"></div>
            </div>

            <br>

            
            <form action="/equipo/combustibles/agregar" method="POST">
                <div class="form-row" style="display: none;">
                    <div class="form-group col-md-12">
                        {{#each consulta}}
                            <input type="text" name="id_planeacion" value="{{ id_planeacion }}">
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Item: </label>
                        <select name="id_item" class="form-control">
                            {{#each items}}
                                <option value="{{ id_item }}">{{ descripcion_item }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rubro: </label>
                        <select name="id_rubro" class="form-control">
                            {{#each rubros}}
                                <option value="{{ id_rubro }}">{{ sigla_rubro }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Unidad de medida: </label>
                        <select name="id_unidad_medida" class="form-control">
                            {{#each unidad_medida}}
                                <option value="{{ id_unidad_medida }}">{{ nombre_unidad_medida }} - {{ abreviatura_unidad_medida }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cantidad: </label>
                        <input name="cantidad" type="number" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Costo unitario: </label>
                        <input name="costo_unitario" type="number" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Contado: </label>
                        <input name="contado" type="number" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Credito: </label>
                        <input name="credito" type="number" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Moneda: </label>
                            <select name="id_moneda" class="form-control">
                                {{#each monedas}}
                                    <option value="{{ id_moneda }}">{{ abreviatura_moneda }}</option>
                                {{/each}}
                            </select>
                    </div>
                </div>
                <input type="submit" value="Guardar" class="btn-guardar-planeacion btn btn-primary">
           </form>

        </div>
    </div>
</div>