<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <div class="row">
                <div class="col-md-4 col-xs-4">
                    {{#each consulta}}
                    <a href="/planeacion/graficas/{{ id_planeacion }}" class="btn btn-primary">Volver a graficas</a>
                    {{/each}}
                </div>
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-4 col-xs-4"></div>
            </div>

            <br>

            {{#each consulta}}
            <form action="/equipo/personal/{{ id_planeacion }}" method="post">
                {{/each}}
                <div class="form-row">
                    <div class="col-md-6">
                        <select name="dato" class="form-control">
                            <option value="">Seleccione primero el cargo</option>
                            {{#each cargos}}
                            <option value="{{ id_cargo }}">{{ nombre_cargo }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Buscar" class="btn btn-primary">
                    </div>
                </div>
            </form>

            <br>



            {{#each consulta}}
            <form action="/equipo/personal/agregar/{{ id_planeacion }}" method="POST">
                {{/each}}
                <div class="form-row" style="display: none;">
                    <div class="form-group col-md-6">
                        {{#each cargo_personal}}
                        <input name="id_cargo" type="text" class="form-control" value="{{ id_cargo }}">
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        {{#each consulta}}
                        <input name="id_planeacion" type="text" class="form-control" value="{{ id_planeacion }}">
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Personal: </label>
                        <select name="id_personal" class="form-control">
                            <option value="">Primero Selecciona el cargo</option>
                            {{#each cargo_personal}}
                            <option value="{{ id }}">{{ nombre_personal }} {{ apellido_personal }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unidad de medida: </label>
                        <select name="id_unidad_medida" class="form-control">
                            {{#each unidad_medida}}
                            <option value="{{ id_unidad_medida }}">{{ nombre_unidad_medida }} -
                                {{ abreviatura_unidad_medida }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha inicio movilizacion: </label>
                        <input type="date" name="fecha_inicio_mov" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha final movilizacion: </label>
                        <input type="date" name="fecha_final_mov" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Asignacion: </label>
                        <select name="id_tipo_asignacion" class="form-control">
                            {{#each tipo_asignacion}}
                            <option value="{{ id_tipo_asignacion }}">{{ descripcion }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rubro: </label>
                        <select name="id_rubro" class="form-control">
                            {{#each rubros}}
                            <option value="{{ id_rubro }}">{{ sigla_rubro }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" style="display: none;">
                        <label>Costo unitario rubro: </label>
                        <input type="number" name="costo_unitario_rubro" class="form-control" value="0">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Moneda: </label>
                        <select name="id_moneda" class="form-control">
                            {{#each monedas}}
                            <option value="{{ id_moneda }}">{{ abreviatura_moneda }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Medio de pago: </label>
                        <select name="medio_pago" class="form-control">
                            <option value="">Seleccione...</option>
                            <option value="1">Credito</option>
                            <option value="2">Contado</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Guardar" style="width: 100%" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>