<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

               {{#each consulta}}
                <table id="tabla" class="table-planeacion table table-striped table-bordered table-hover display">
                  
                       <tr>
                        <td>
                           NOMBRE 
                        </td>
                        <td>
                           SALARIO PERSONAL
                        </td>
                        <td>
                            BONO DE CAMPO
                        </td>
                        <td>
                            BONO DE TRASPORTE
                        </td>
                        <td>
                            C.C
                        </td>
                        <td>
                            consecutivo
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr> 
                <tr>
                     <td>
                    </td> 
                     <td>
                    </td>
                     <td>
                        {{bono_salarial_personal}}
                    </td>
                    <td>
                        {{bono_no_salarial_personal}}
                    </td>
                    <td>
                        {{numero_documento_personal}}
                    </td>
                   
                    <td> 
                        {{v}}
                    </td>
                    <td>
                        {{valor}}
                    </td>
                    <td>
                        {{V}}
                     </td>
                     <td>
                        {{concepto}}
                     </td>
                       <td>
                      {{centro_de_costo}}
                     </td>
                     <td>
                        {{descripcion}}
                     </td>
                    
                </tr>
                {{/each}}
            </table>
    
        </div>
    </div>
</div>

<script>


function sendData(){}).done(function(msg){
                    if(msg.resp){
                        let table = "";
                        msg.resp.forEach(function(element){
                            table +=`
                                <tr> 
                                    <td class="text-center">${element.centro_de_costo}</td>
                                    <td class="text-center">${element.nombre_personal} ${element.apellido_personal}</td>
                                    <td class="text-center">${element.numero_documento_personal}</td>
                                    <td class="text-center">${element.fecha_inicio}</td>
                                    <td class="text-center">${element.fecha_final}</td>
                                    <td class="text-center">${element.dias}</td>
                                    <td class="text-center"> ${element.tipo_bono}</td>
                                    <td class="text-center"> ${element.cantidad_festivos} </td>
                                    <td class="text-center">${Intl.NumberFormat().format(element.valor_bono)}</td>
                                    <td class="text-center">${Intl.NumberFormat().format(element.valor_bono_total)}</td>
                                    <td class="text-center">
                                <a href="/Eliminar/${element.id_bonos}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                                <a href="/gestionbonos/editarbono/${element.id_bonos}"
                                    class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                    <img src="/icons-planeacion/eye.svg" alt="">
                        </td>
                    </tr>`;
                        });
                        $("#tabla1").html(table);
                    }
                });
    }

</script>