<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
 <h1>BONO SIN PLANEACION </h1>

    <form action="/gestionbonos/buscador" method="POST">
             <div class=" row">
            <div class="col">
                <label>fecha de inicio </label>
                    <div class="form-group col-md-12">
                        <input type="date" name="fecha_inicio" id="montoSolicitado" class="form-control" >
                    </div> 
                </div>
                <div class="col">
                <label>fecha de fin </label>
                    <div class="form-group col-md-12">
                        <input type="date" name="fecha_final" id="montoSolicitado" class="form-control" >
                    </div> 
                </div>
            </div>
            <a href="/gestionbonos/agregarbonosinplaneacion"
                        class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                        <img src="/icons-planeacion/add.svg" alt="">
            </a>
            <button class="" > BUSCAR </button>
    </form>
            <br>

                  <table class="table-planeacion table table-striped table-bordered table-hover display">
            
                <thead>
                   
                    <tr>
                        <th class="text-center">centro de costo </th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">C.C</th>
                        <th class="text-center">fecha de inicio</th>
                        <th class="text-center">fecha de final</th>
                        <th class="text-center">dias</th>
                        <th class="text-center">tipo de bono </th>
                        <th class="text-center">valor del bono </th>
                        <th class="text-center">valor del bono total </th>
                        <th class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta}}
                    <tr>
                      
                        <td class="text-center">{{centro_de_costo}}</td>
                        <td class="text-center">{{nombre_personal}}{{apellido_personal}}</td> 
                        <td class="text-center">{{numero_documento_personal}}</td>
                        <td class="text-center">{{fecha_inicio}}</td>
                        <td class="text-center">{{fecha_final}}</td>
                        <td class="text-center">{{dias}}</td>
                        <td class="text-center">{{tipo_bono}}
                        <td class="text-center">{{valor_bono}}</td>
                        <td class="text-center">{{valor_bono_total}}</td>  
                        <td class="text-center">
                        <a href="/Eliminar/{{id_bonos}}"
                        class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                        <img src="/icons-planeacion/trash.svg" alt="">
                        </td>
                    </tr>
                       {{/each}}                    
                </tbody>
            </table>
            <br>

              <h1> PERSONAL DE LA OPERACION</h1>
              <form action="/gestionbonos/buscadordepersonal" method="POST">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">PLANEACION </label>
                    <select class="form-control"  name="id_planeacion"id="exampleFormControlSelect1">
                        {{#each consulta1}}
                        <option value="{{id_planeacion}}">{{titulo}}</option>
                         {{/each}}
                    </select>
                    <button type="submit ">buscar </button>
            </form>
            <br>  
         

            <table class="table-planeacion table table-striped table-bordered table-hover display">
                <thead>
                    <tr>
                        <tr>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Unidad</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Costo Unitario</th>
                        <th class="text-center">Valor Bono</th>
                        <th class="text-center">Total Costo</th>
                        <th class="text-center">hacer bono </th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    {{#each tb_equipo_item_personal}}
                    <tr>
                        <td class="text-center">{{ nombre_cargo }}</td>
                        <td class="text-center">{{ nombre_personal }}
                            {{ apellido_personal }}</td>
                        <td class="text-center">{{ abreviatura_unidad_medida }}</td>
                        <td class="text-center">{{ dias }}</td>
                        <td class="text-center">{{ costo }} {{ abreviatura_moneda }}</td>
                        <td class="text-center">{{ bono_salarial_personal }}
                            {{ abreviatura_moneda }}</td>
                        <td class="text-center">{{ total }} {{ abreviatura_moneda }}</td>
                        <td class="text-center">
                            <a href="/consignacionesconplaneacion/agregar/{{id}}/{{id_planeacion}}"
                                style="margin-top: 5px;"
                                class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                                <img src="/icons-planeacion/add.svg" alt="">
                            </a>
                        </td>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                </form>
           
            </table>
            <form action="/gestionbonos/buscarbonoporplaneacion" method="POST">
             <div class="row">
                    <div class="col">
                <label>fecha de inicio </label>
                    <div class="form-group col-md-12">
                        <input type="date" name="fecha_inicio" id="montoSolicitado" class="form-control" >
                        <input type="hidden" name="id_planeacion" id="" value="{{id_planeacion}}" class="form-control" >
                    </div> 
                </div>
                <div class="col">
                <label>fecha de fin </label>
                    <div class="form-group col-md-12">
                        <input type="date" name="fecha_final" id="montoSolicitado" class="form-control" >
                    </div> 
                </div>
                </div>
                <button type="submit"> buscar </button>
                </form>
              <table class="table-planeacion table table-striped table-bordered table-hover display">
            
                <thead>
                    <h1>BONOS DE LA PLANEACION</h1>
                    <tr>
                     <tr>
                        <th class="text-center">centro de costo </th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">C.C</th>
                        <th class="text-center">fecha de inicio</th>
                        <th class="text-center">fecha de final</th>
                        <th class="text-center">dias</th>
                        <th class="text-center">tipo de bono </th>
                        <th class="text-center">valor del bono </th>
                        <th class="text-center">valor del bono total </th>
                        <th class="text-center">Accion</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                  {{#each consulta3}}
                    <tr>
                      
                        <td class="text-center">{{centro_de_costo}}</td>
                        <td class="text-center">{{nombre_personal}}{{apellido_personal}}</td> 
                        <td class="text-center">{{numero_documento_personal}}</td>
                        <td class="text-center">{{fecha_inicio}}</td>
                        <td class="text-center">{{fecha_final}}</td>
                        <td class="text-center">{{dias}}</td>
                        <td class="text-center">{{tipo_bono}}
                        <td class="text-center">{{valor_bono}}</td>
                        <td class="text-center">{{valor_bono_total}}</td>  
                        <td class="text-center">
                        <a href="/Eliminar/{{id_bonos}}"
                        class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                        <img src="/icons-planeacion/trash.svg" alt="">
                        </td>
                    </tr>
                       {{/each}}          
                </tbody>
            </table>
         
        </div>
    </div>
</div>