<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <form action="/cotizacion/costos/modificar" method="POST">
                <div class="form-row" style="display: none;">
                    <div class="form-group col-md-6">
                        {{#each consulta}}
                        <input type="text" name="id_cotizacion_costo" value="{{ id_cotizacion_costo }}"
                            class="form-control" readonly>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        {{#each consulta}}
                        <input type="text" name="id_planeacion" class="form-control" value="{{ id_planeacion }}"
                            readonly>
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Tipo: </label>
                        <select name="tipo" class="form-control">
                            {{#each tipo}}
                            {{#Guacamaya tipo '==' 1}}
                            <option value="{{ tipo }}">Equipo</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{#Guacamaya tipo '==' 2}}
                            <option value="{{ tipo }}">Movilizacion</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{#Guacamaya tipo '==' 3}}
                            <option value="{{ tipo }}">Personal</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{#Guacamaya tipo '==' 4}}
                            <option value="{{ tipo }}">Otros</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{/each}}
                            <option value="1">Equipo</option>
                            <option value="2">Movilizacion</option>
                            <option value="3">Personal</option>
                            <option value="4">Otro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Descripcion: </label>
                        {{#each consulta}}
                        <input type="text" name="desc" value="{{ descripcion }}" class="form-control">
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cantidad: </label>
                        {{#each consulta}}
                        <input type="number" name="cantidad" value="{{ cantidad }}" class="form-control">
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unidad de medida: </label>
                        <select name="unidad_medida" class="form-control">
                            {{#each unidad_medida}}
                            {{#Guacamaya id_unidad_medida '==' id_unidad_medida}}
                            <option value="{{ id_unidad_medida }}">{{ abreviatura_unidad_medida }}</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{/each}}
                            {{#each unidad_medidas}}
                            <option value="{{ id_unidad_medida }}">{{ abreviatura_unidad_medida }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Precio: </label>
                        {{#each consulta}}
                        <input type="number" name="precio" value="{{ precio }}" class="form-control">
                        {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Moneda: </label>
                        <select name="moneda" class="form-control">
                            {{#each moneda}}
                            {{#Guacamaya id_moneda '==' id_moneda}}
                            <option value="{{ id_moneda }}">{{ abreviatura_moneda }}</option>
                            <option value="">----</option>
                            {{/Guacamaya}}
                            {{/each}}
                            {{#each monedas}}
                            <option value="{{ id_moneda }}">{{ abreviatura_moneda }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Guardar" class="btn btn-primary form-control">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>