            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-crm dt-icon-bg bg-orange text-orange"></i> Editar Campo</h1></div>
                    </div>
                   </div>
                   
                    <!-- /page header -->

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/editar-campo/{{campos.id_campo}}" method="POST">
                                        <div class="form-row">
                                           
                                            <div class="col-sm-3 mb-3">
                                              <label>Nombre</label>
                                              <input type="text" class="form-control" placeholder="Nombre" name="nombre_campo" required value="{{campos.nombre_campo}}" onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            
                                            <div class="col-sm-3 mb-3">
                                            <label>Propietario</label>
                                             <select class="form-control" name="id_cliente" required>
                                                  {{#each propietarios}}
                                                  <option value="{{ id_cliente }}" {{#Guacamaya campos.id_cliente '==' id_cliente}} selected {{/Guacamaya}}>{{ razon_social_cliente }}</option>
                                                  {{/each}}
                                              </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Departamento</label>
                                              <input type="text" class="form-control" placeholder="Departamento" name="departamento_campo" required value="{{campos.departamento_campo}}">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Municipio</label>
                                              <input type="text" class="form-control" placeholder="Municipio" name="municipio_campo" required value="{{campos.municipio_campo}}">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Ubicación</label>
                                              <input type="text" class="form-control" placeholder="Ubicación" name="ubicacion_campo" required value="{{campos.ubicacion_campo}}">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Longitud</label>
                                              <input type="text" class="form-control" placeholder="Longitud" name="longitud_campo" required value="{{campos.longitud_campo}}">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Latitud</label>
                                              <input type="text" class="form-control" placeholder="Latitud" name="latitud_campo" required value="{{campos.latitud_campo}}">
                                            </div>
                                          
                                            <div class="col-sm-3 mb-3">
                                            <label>Estado</label>
                                              <select class="form-control" required="" name="estado_campo">
                                                  <option value="1" {{#Guacamaya campos.estado_campo '==' 1}} selected {{/Guacamaya}}>ACTIVO</option>
                                                  <option value="2" {{#Guacamaya campos.estado_campo '==' 2}} selected {{/Guacamaya}}>INACTIVO</option>
                                                </select>
                                            </div>
                                         
                                            <div class="col-sm-12 mb-3">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right">
                                                    Actualizar
                                                </button>
                                                <a href="/campos"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>

                                        </div>
                                       
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
             
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

