<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <a href="/planeacion/agregar" style="margin-top: 5px;"
                class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                <img src="/icons-planeacion/add.svg" alt="">
            </a>

            <br>


            <table class="table-planeacion table table-striped table-bordered table-hover display">
                <thead>
                    <tr>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Campo</th>
                        <th class="text-center">Contrato</th>
                        <th class="text-center">Fecha estimada</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each consulta}}
                    {{#Guacamaya estado '==' 'Ejecucion'}}
                    <tr style="background: #00ff00;">
                        <td class="text-center">{{ titulo }}</td>
                        <td class="text-center">{{ razon_social_proveedor }}</td>
                        <td class="text-center">{{ nombre_campo }}</td>
                        <td class="text-center">{{ descripcion_contrato }}</td>
                        <td class="text-center">{{ fecha_estimada }}</td>
                        <td class="text-center">{{ estado }}</td>
                        <td class="text-center">
                            <a href="/planeacion/graficas/{{ id_planeacion }}"
                                class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/eliminarPlaneacion/{{ id_planeacion }}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                        </td>
                        {{/Guacamaya}}

                        {{#Guacamaya estado '==' 'Creacion'}}
                    <tr style="background: #ff0000;">
                        <td class="text-center">{{ titulo }}</td>
                        <td class="text-center">{{ razon_social_proveedor }}</td>
                        <td class="text-center">{{ nombre_campo }}</td>
                        <td class="text-center">{{ descripcion_contrato }}</td>
                        <td class="text-center">{{ fecha_estimada }}</td>
                        <td class="text-center">{{ estado }}</td>
                        <td class="text-center">
                            <a href="/planeacion/graficas/{{ id_planeacion }}"
                                class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/eliminarPlaneacion/{{ id_planeacion }}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                        </td>
                        {{/Guacamaya}}

                        {{#Guacamaya estado '==' 'Cotizacion'}}
                    <tr style="background: #000fff;">
                        <td class="text-center">{{ titulo }}</td>
                        <td class="text-center">{{ razon_social_proveedor }}</td>
                        <td class="text-center">{{ nombre_campo }}</td>
                        <td class="text-center">{{ descripcion_contrato }}</td>
                        <td class="text-center">{{ fecha_estimada }}</td>
                        <td class="text-center">{{ estado }}</td>
                        <td class="text-center">
                            <a href="/planeacion/graficas/{{ id_planeacion }}"
                                class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/eliminarPlaneacion/{{ id_planeacion }}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                        </td>
                        {{/Guacamaya}}

                        {{#Guacamaya estado '==' 'Cerrado'}}
                    <tr style="background: #ccff00;">
                        <td class="text-center">{{ titulo }}</td>
                        <td class="text-center">{{ razon_social_proveedor }}</td>
                        <td class="text-center">{{ nombre_campo }}</td>
                        <td class="text-center">{{ descripcion_contrato }}</td>
                        <td class="text-center">{{ fecha_estimada }}</td>
                        <td class="text-center">{{ estado }}</td>
                        <td class="text-center">
                            <a href="/planeacion/graficas/{{ id_planeacion }}"
                                class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/eliminarPlaneacion/{{ id_planeacion }}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                        </td>
                        {{/Guacamaya}}

                        {{#Guacamaya estado '==' 'Rechazado'}}
                    <tr style="background: #c0c0c0;">
                        <td class="text-center">{{ titulo }}</td>
                        <td class="text-center">{{ razon_social_proveedor }}</td>
                        <td class="text-center">{{ nombre_campo }}</td>
                        <td class="text-center">{{ descripcion_contrato }}</td>
                        <td class="text-center">{{ fecha_estimada }}</td>
                        <td class="text-center">{{ estado }}</td>
                        <td class="text-center">
                            <a href="/planeacion/graficas/{{ id_planeacion }}"
                                class="btn-mirar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/eye.svg" alt="">
                            </a>
                            <a href="/eliminarPlaneacion/{{ id_planeacion }}"
                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                <img src="/icons-planeacion/trash.svg" alt="">
                            </a>
                        </td>
                        {{/Guacamaya}}

                        {{/each}}
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>