<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <div class="row">
                <div class="col-md-3">
                    <a href="#" role="button" data-toggle="modal" data-target="#pozos" class="btn btn-primary">Agregar
                        Pozo</a>
                </div>
                <div class="col-md-3">
                    <a href="#" role="button" data-toggle="modal" data-target="#cotizacion"
                        class="btn btn-primary">Cotizaciones</a>
                </div>
                <div class="col-md-3">
                    <a href="#" role="button" data-toggle="modal" data-target="#tipo-trabajo"
                        class="btn btn-primary">Tipo de trabajo</a>
                </div>
                <div class="col-md-3">
                    <a href="/planeacion" class="btn btn-primary">Volver a Planeacion</a>
                </div>
            </div>

            <br>

            <form action="/agregarPlaneacion" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Titulo: </label>
                        <input name="titulo" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cliente</label>
                        <select name="id_cliente" class="form-control">
                            <option value="">Cliente #1</option>
                            <option value="">Cliente #2</option>
                            <option value="">Cliente #3</option>
                            <option value="">Cliente #4</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Contacto: </label>
                        <input name="contacto" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Telefono:</label>
                        <input name="telefono" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email: </label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha Contacto:</label>
                        <input name="fecha_contacto" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Hora Contacto: </label>
                        <input name="hora_contacto" type="time" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Contacto GOS:</label>
                        <select name="id_personal" class="form-control">
                            <option value="">Personal #1</option>
                            <option value="">Personal #2</option>
                            <option value="">Personal #3</option>
                            <option value="">Personal #4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Centro de costo: </label>
                        <select name="id_centro_costo" class="form-control">
                            <option value="">Centro_costo #1</option>
                            <option value="">Centro_costo #2</option>
                            <option value="">Centro_costo #3</option>
                            <option value="">Centro_costo #4</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Fecha Estimada: </label>
                        <input name="fecha_estimada" type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Contrato: </label>
                        <select name="id_contrato" class="form-control">
                            <option value="">Contrato #1</option>
                            <option value="">Contrato #2</option>
                            <option value="">Contrato #3</option>
                            <option value="">Contrato #4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Alojamiento/Alimentacion: </label>
                        <select name="alojamiento" class="form-control">
                            <option value="1">GOS</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Combustible: </label>
                        <select name="combustible" class="form-control">
                            <option value="1">GOS</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Iluminacion: </label>
                        <select name="iluminacion" class="form-control">
                            <option value="1">GOS</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Seguridad Fisica: </label>
                        <select name="seguridad_fisica" class="form-control">
                            <option value="1">GOS</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Personal: </label>
                        <select name="personal" class="form-control">
                            <option value="1">GOS</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Campo: </label>
                        <select name="id_campo" class="form-control">
                            <option value="">Campo #1</option>
                            <option value="">Campo #2</option>
                            <option value="">Campo #3</option>
                            <option value="">Campo #4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Supervisor: </label>
                        <select name="id_personal_supervisor" class="form-control">
                            <option value="">Supervisor #1</option>
                            <option value="">Supervisor #2</option>
                            <option value="">Supervisor #3</option>
                            <option value="">Supervisor #4</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Moneda: </label>
                        <select name="id_moneda" class="form-control">
                            <option value="">Moneda #1</option>
                            <option value="">Moneda #2</option>
                            <option value="">Moneda #3</option>
                            <option value="">Moneda #4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>TRM: </label>
                        <input type="number" name="trm" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Objetivo Trabajo: </label>
                        <textarea name="objetivo_trabajo" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Requisitos HSE: </label>
                        <textarea name="requisitos_hse" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Observacion Servicio: </label>
                        <textarea name="observacion" class="form-control"></textarea>
                    </div>
                </div>
                <input type="submit" value="Guardar" class="btn-guardar-planeacion btn btn-primary">
            </form>

            <!-- Modal -->
            <div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cotizaciones</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Titulo: </label>
                                        <input type="text" name="titulo" value="weffew" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Credito: </label>
                                        <input type="number" name="credito" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Trm: </label>
                                        <input type="number" name="trm" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Consecutivo: </label>
                                        <input type="number" name="credito" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Descuento: </label>
                                        <input type="number" name="trm" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <a href="" class="btn btn-primary" style="width: 100%">Costos</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="pozos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Pozos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/agregarPozo" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6" style="display: none;">
                                        {{#each consulta}}
                                        <input type="text" name="id_planeacion" value="{{ id_planeacion }}">
                                        {{/each}}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select name="id_pozo" class="form-control">
                                            {{#each pozos}}
                                            <option value="{{ id_pozo }}">{{ nombre_pozo }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="submit" value="Agregar" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                            <table class="table-planeacion table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Pozo</th>
                                        <th class="text-center">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each pozos_planeacion}}
                                    <tr>
                                        <td class="text-center">{{ nombre_pozo }}</td>
                                        <td class="text-center">
                                            <a href="/eliminarPozo/{{ id_pozo_planeacion }}"
                                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                                <img src="/icons-planeacion/trash.svg" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="tipo-trabajo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tipos de trabajo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/agregarTipoTrabajo" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6" style="display: none;">
                                        {{#each consulta}}
                                        <input type="text" name="id_planeacion" value="{{ id_planeacion }}">
                                        {{/each}}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select name="id_tipo_trabajo" class="form-control">
                                            {{#each tipos_trabajo}}
                                            <option value="{{ id_tipo_trabajo }}">{{ descripcion_tipo_trabajo }}
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="submit" value="Agregar" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                            <table class="table-planeacion table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Tipo de trabajo</th>
                                        <th class="text-center">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each tipos_trabajo_planeacion}}
                                    <tr>
                                        <td class="text-center">{{ descripcion_tipo_trabajo }}</td>
                                        <td class="text-center">
                                            <a href="/eliminarTipoTrabajo/{{ id_tipo_trabajo_planeacion }}"
                                                class="btn-eliminar-planeacion btn btn-success text-white dt-fab-btn">
                                                <img src="/icons-planeacion/trash.svg" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>